<%- include('particles/header.ejs') %>
<body>
  <div class="video-bg">
   
   </div>
   <div class="dark-light">
       <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" /></svg>
      </div>
   <div class="app">
    <%- include('particles/navigation.ejs') %>
    
    <div class="adobe-product_item">
        <h2 class="section__title">
            <div class="product_item">
           
                <%= basket.title  %>
              </div>
        </h2>
        <img class="product__image" src="/img/<%= basket.image %>">
        <div class="product_item__price">
            <%= basket.price %>&nbsp;₽
        </div>
        

    </div>
    <div class="product_item_description">
            <%= basket.description %>
        </div>
    
        <%- include('particles/footer.ejs') %>